<link rel="import" href="/app/bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="/app/bower_components/core-toolbar/core-toolbar.html">

<polymer-element name="dos-page" extends="mako-page">
  <template>
    <div id="pageContent" style="opacity: 0">
      <mako-nav></mako-nav>

        <div id="content" class="content">
          <h1>Dos</h1>
          <button on-click="{{backToCube}}">Back to cube</button>
        </div>

    </div>
  </template>
  <script src="dos-page.js"></script>
</polymer-element>
