html,body {
    height: 100%;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    color: white;


}

body {
    overflow: hidden;
}

#content {
    margin: 7%;
}

#cubeIcon {
    width: 50px;
}

#cubeIcon /deep/ core-icon[role=img] {
    height: 50px;
    width: 50px;
}

#cubeIcon /deep/ .button-content {
    padding: 0px;
    height: 50px;
    width: 50px;
    background-color: #DDD;
}

#cubeIcon /deep/ paper-shadow {
    padding: 0px;
    height: 50px;
    width: 50px;
}

#cubeIcon /deep/ paper-ripple {
    padding: 0px;
    height: 50px;
    width: 50px;
}

#cubeIcon /deep/ content {
    padding: 0px;
    height: 50px;
    width: 50px;
}



#page {
    margin-top: 70px;
    overflow: auto;
    opacity: 0;
}

mako-nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.navbar-brand {
    font-size: 34px;

}

p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

canvas { width: 100%; height: 100% }
