<link rel="import" href="/bower_components/pushstate-anchor/pushstate-anchor.html">
<template id="template">
  <link rel="stylesheet" href="main.css"/>
  <link rel="stylesheet" href="skeleton.css"/>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <a class="navbar-link navbar-brand" href="#" is="pushstate-anchor">MakoWare</a>
          <li class="navbar-item"><a class="navbar-link"  href="#/contact" id="contactLink" is="pushstate-anchor">contact</a></li>
          <li class="navbar-item"><a class="navbar-link"  href="#/projects" id="projectsLink" is="pushstate-anchor">projects</a></li>
          <li class="navbar-item"><a class="navbar-link"  href="#/about" id="aboutLink" is="pushstate-anchor">about</a></li>
        </ul>
      </div>
    </nav>


</template>
<script src="mako-nav.js"></script>
