<link rel="import" href="/components/mako-page/dist/mako-page.html">

<template id="template">
  <link rel="stylesheet" href="main.css"/>
  <link rel="stylesheet" href="skeleton.css"/>


  <div class="section home" id="homeContent">
    <div class="container">
      <div class="row">
        <h4>Welcome to MakoWare!</h4>
      </div>

      <div class="row" align="center">
        <h5 class="home-heading">We are native Android and iOS contractors. We also build single page apps using AngularJS, and more recently ES6 web components.</h5>
      </div>
    </div>
  </div>


  <div class="section clients" id="clientContent">
    <div class="container">
      <div class="row">
        <h2 class="clients-heading">Some of our Clients</h2>
      </div>
      <div class="row">
        <a href="http://azuqua.com"><img class="u-max-full-width" src="/images/azuqua-logo.svg"></a>
      </div>
      <div class="row">
        <h5 class="home-heading">"Azuqua enables you to create high value business processes spanning multiple cloud services in minutes without writing any code." MakoWare developed a mobile application to extend the features of their web application to the native Android environment.</h5>
      </div>
      <div class="row">
        <a href="http://seattleboulderingproject.com"><img class="u-max-full-width" src="images/sbp_logo.svg" id="sbpImage"></a>
      </div>
      <div class="row">
        <h5 class="home-heading">"The Seattle Bouldering Project offers a range of climbing classes to introduce you to the sport and give you the tools to train, progress, and have fun." MakoWare created an AngularJS web app to allow the SBP to track their boulder route setting processes.</h5>
      </div>

    </div>
  </div>
</div>





</template>
<script src="home-page.js"></script>
