<polymer-element name="mako-background">
    <style>
    </style>

  <template>
      <div class="mako-background" style="position: absolute;">
          <table width="{{tableWidth}}" height="{{tableHeight}}">
              <tbody>
                  <tr template repeat="{{row in tableRows}}">
                      <td template repeat="{{col in tableColumns}}" style="background-color: {{tableItemColors[row][col]}};" width="{{tableItemWidth}}" >

                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </template>
  <script>
    Polymer('mako-background', {
        tableHeight: 0,
        tableWidth: 0,
        tableRows: [],
        tableColumns: [],
        tableItemWidth: 0,
        tableItemHeight: 0,
        colorFrequency: .3,
        colorInterval: 0,
        TAG: "mako-background",

        ready: function() {
            log(this.TAG, "ready()");
            this.updateTableParams();
            this.updateTableColors();
            this.registerEvents();
        },

        //Events
        registerEvents: function(){
            //Resize
            this.onResize();
        },

        onResize: function(){
            var self = this;
            $( window ).resize(function() {
                self.updateTableParams();
            });
        },

        updateTableParams: function(){
            this.tableRows = [0, 1, 2, 3, 4, 5, 6, 7];
            this.tableColumns = [0, 1, 2, 3, 4, 5, 6, 7];

            this.tableWidth = $(document).width();
            this.tableHeight = $(document).height() - $('#core-toolbar').height();

            this.tableItemWidth = this.tableWidth / this.tableColumns.length;

            this.tableItemColors = new Array(this.tableRows.length);
            for (var i = 0; i < this.tableRows.length; i++) {
                this.tableItemColors[i] = new Array(this.tableColumns.length);
            }
        },

        updateTableColors: function(){
            var self = this;
            setInterval(function(){
                self.diagonalTopLeft();
                self.colorInterval++;
            }, 1000);
        },

        diagonalBottomRight: function(){
            var self = this;
            self.tableRows.forEach(function(i){
                self.tableColumns.forEach(function(j){
                    var interval = i + j + self.colorInterval;
                    var color = self.generateColor(self.colorFrequency, interval);
                    self.tableItemColors[i][j] = color;
                });
            });
            self.colorInterval++;
        },

        diagonalBottomLeft: function(){
            var self = this;
            self.tableRows.forEach(function(i){
                self.tableColumns.forEach(function(j){
                    var interval = i + j + self.colorInterval;
                    var color = self.generateColor(self.colorFrequency, interval);
                    self.tableItemColors[i][self.tableColumns.length -1 - j] = color;
                });
            });
            self.colorInterval++;
        },

        diagonalTopLeft: function(){
            var self = this;
            self.tableRows.forEach(function(i){
                self.tableColumns.forEach(function(j){
                    var interval = i + j + self.colorInterval;
                    var color = self.generateColor(self.colorFrequency, interval);
                    self.tableItemColors[self.tableRows.length -1 - i][self.tableColumns.length -1 - j] = color;
                });
            });
            self.colorInterval++;
        },

        diagonalTopRight: function(){
            var self = this;
            self.tableRows.forEach(function(i){
                self.tableColumns.forEach(function(j){
                    var interval = i + j + self.colorInterval;
                    var color = self.generateColor(self.colorFrequency, interval);
                    self.tableItemColors[self.tableRows.length -1 - i][j] = color;
                });
            });
            self.colorInterval++;
        },

        verticalRight: function(){
            var self = this;
            self.tableRows.forEach(function(i){
                self.tableColumns.forEach(function(j){
                    var interval = j + self.colorInterval;
                    var color = self.generateColor(self.colorFrequency, interval);
                    self.tableItemColors[i][j] = color;
                });
            });
            self.colorInterval++;
        },

        verticalLeft: function(){
            var self = this;
            self.tableRows.forEach(function(i){
                self.tableColumns.forEach(function(j){
                    var interval = j + self.colorInterval;
                    var color = self.generateColor(self.colorFrequency, interval);
                    self.tableItemColors[self.tableRows.length -1 - i][self.tableColumns.length -1 - j] = color;
                });
            });
            self.colorInterval++;
        },

        horizontalBottom: function(){
            var self = this;
            self.tableRows.forEach(function(i){
                self.tableColumns.forEach(function(j){
                    var interval = j + self.colorInterval;
                    var color = self.generateColor(self.colorFrequency, interval);
                    self.tableItemColors[j][i] = color;
                });
            });
            self.colorInterval++;
        },

        horizontalTop: function(){
            var self = this;
            self.tableRows.forEach(function(i){
                self.tableColumns.forEach(function(j){
                    var interval = j + self.colorInterval;
                    var color = self.generateColor(self.colorFrequency, interval);
                    self.tableItemColors[self.tableRows.length -1 - j][self.tableColumns.length -1 - i] = color;
                });
            });
            self.colorInterval++;
        },

        generateColor: function(frequency, interval){
            var nybHexString = "0123456789ABCDEF";
            var red   = Math.sin(frequency * interval + 0) * 127 + 128;
            var green = Math.sin(frequency * interval + 2) * 127 + 128;
            var blue  = Math.sin(frequency * interval + 4) * 127 + 128;

            return '#' +  String(nybHexString.substr((red >> 4) & 0x0F,1)) + nybHexString.substr(red & 0x0F,1) + String(nybHexString.substr((green >> 4) & 0x0F,1)) + nybHexString.substr(green & 0x0F,1) + String(nybHexString.substr((blue >> 4) & 0x0F,1)) + nybHexString.substr(blue & 0x0F,1);
        },


    });
  </script>
</polymer-element>
