<link rel="import" href="/components/mako-page/dist/mako-page.html">
<template id="template">
  <link rel="stylesheet" href="skeleton.css"/>
  <div id="content" style="padding-top: 75px">
    <div class="section hero">
      <div class="container">
        <br>
        <div class="row" align="center">
          <h3 class="hero-heading">Projects that we have built, or are building</h3>
        </div>
        <br>
        <br>
      </div>
    </div>

    <div class="section hero" id="juke" style="color: white">
      <div class="container">
        <br>
        <br>
        <div class="row">
          <div class="two-thirds column">
            <h4 class="hero-heading">Juke</h4>
            <h5>Build democratic playlists from any device.</h5>
            <h5>Vote on queued songs to change play order.</h5>
            <h5>Available on iOS and on the Web!</h5>
            <a class="button button-primary" href="http://juke.parseapp.com">Try Juke For the Web</a>
            <a class="button button-primary" href="https://itunes.apple.com/us/app/juke-democratic-playlists/id852959492?">Try Juke For iOS</a>
          </div>
          <div class="one-third column">
            <img class="u-max-full-width" src="images/jukeFavi.png">
          </div>
        </div>
        <div class="row">
          <img class="u-max-full-width" src="images/jukeScreen1.png">
        </div>
      </div>
    </div>

  </div>
</template>
<script src="projects-page.js"></script>
