<link rel="import" href="/components/core-header-panel/core-header-panel.html">
<link rel="import" href="/components/core-toolbar/core-toolbar.html">

<polymer-element name="about-page" extends="mako-page">
  <template>
  <link href="/css/main.css" rel="stylesheet" >
    <div id="pageContent" style="opacity: 0">

      <mako-nav></mako-nav>

        <div id="content" class="content">
          <h1>About</h1>
          <button on-click="{{backToCube}}">Back to cube</button>
        </div>


    </div>
  </template>
  <script src="about-page.js"></script>
</polymer-element>
