<polymer-element name="mako-content">
    <style>
     .mako-content {
         background-color: black;
         z-index: 20;
     }
    </style>

    <template>
        <div class="mako-content" style="position: absolute;" width="{{contentWidth}}" height="{{contentHeight}}">

        </div>
    </template>
    <script>
     Polymer('mako-content', {
         contentWidth: 0,
         contentHeight: 0,
         TAG: "mako-content",

         ready: function() {
             console.log("mako-content ready()");
             this.setContentDimentions();
             this.registerEvents();
         },

         //Events
         registerEvents: function(){
             //Resize
             this.onResize();
         },

         onResize: function(){
             var self = this;
             $( window ).resize(function() {
                 selyf.setContentDimentions();
             });
         },

         setContentDimentions: function(){
             log(this.TAG, "setContentDim()");
             this.contentWidth = $( document ).width() / 2;
             this.contentHeight = $( document ).height() / 2;
         },

     });
    </script>
</polymer-element>
