<div ng-include="'partials/navbar.html'"></div>

<div class="container">
  <div class="blogs" style="margin-right: 15%; margin-left: 15%">

    <div class="exampleBlog">
      <div class="jumbotron">
        <header><h2>Example Blog1</h2></header>
      </div>
    </div>

    <div class="exampleBlog">
      <div class="jumbotron">
        <header><h2>Examle Content</h2></header>
        <p>Lorem Ipsum</p>
      </div>
    </div>

    <div class="exampleBlog">
      <div class="jumbotron">
        <header><h2>Examle Content</h2></header>
        <p>Lorem Ipsum</p>
      </div>
    </div>

    <div class="exampleBlog">
      <div class="jumbotron">
        <header><h2>Examle Content</h2></header>
        <p>Lorem Ipsum</p>
      </div>
    </div>

    <div class="exampleBlog">
      <div class="jumbotron">
        <header><h2>Examle Content</h2></header>
        <p>Lorem Ipsum</p>
      </div>
    </div>

    <div class="exampleBlog">
      <div class="jumbotron">
        <header><h2>Examle Content</h2></header>
        <p>Lorem Ipsum</p>
      </div>
    </div>



  </div>
</div>
