<nav class="navbar navbar-default" role="navigation" style="background-color: #FFFFFF; border-color: #FFFFFF;">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand" style="padding-top: 10px">
        <a href="http://makowaredev.com"><img src="images/MakoWare.png" width="270px"></a>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="font-size: 22px">
        <li class="dropdown">
          <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
          <ul class="dropdown-menu" style="font-size: 18px;">
            <li><a href="http://juke.parseapp.com">Juke</a></li>
            <li><a href="#">Flood Port</a></li>
          </ul>
        </li>
        <li><a href="#/about">About</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
