<link rel="import" href="/components/mako-images/mako-images.html">
<link rel="import" href="/components/core-image/core-image.html">
<link rel="import" href="/components/core-media-query/core-media-query.html">
<polymer-element name="juke-page" extends="mako-page">
  <template>
    <link href="/css/main.css" rel="stylesheet" >

    <div id="page" style="opacity: 0">
      <mako-nav></mako-nav>
      <div vertical layout>
        <core-media-query query="max-width: 640px"
                          queryMatches="{{phoneScreen}}"></core-media-query>
        <div layout vertical?="{{phoneScreen}}"
             horizontal?="{{!phoneScreen}}">
          <div id="jukeIcon" >
            <paper-shadow z="3" style="margin: 16px;" on-click="{{goToJuke}}">
              <core-image id="jukeIconImage" style="width:280px; height:280px; background-color: lightgray;" sizing="cover" preload fade  src="/images/jukeFavi.png" sizing="contain" ></core-image>
            </paper-shadow>
          </div>

          <div id="jukeInfo" flex three>
            <paper-shadow z="3" style="margin: 16px; padding: 8px;">
              <h1>Juke</h1>
              <p>Is a web application that allows users to create collaborative playlists.</p>
              <p>Start your own playlist "Hub" or join someone's to start building an interactive playlist.</p>
              <p>Tell friends to join your hub to add songs from youtube to your playlist. Vote songs up or down to change the order they will be played.</p>
              <p>Let Juke be the all request Dj at your next party. Currently Juke is for Web and native iOS</p>
              <p>Click the Icon to try it out!</p>
            </paper-shadow>
          </div>
        </div>
        <div id="jukePhotos" layout horizontal center-center >
          <paper-shadow z="3" style="margin: 16px;" >
            <core-image id="jukeScreen1" style="width:880px; height:580px; background-color: lightgray;" sizing="cover" preload fade  src="/images/jukeScreen1.png" sizing="cover" ></core-image>                      </papershadow>
        </div>

      </div>
  </template>
  <script src="juke-page.js"></script>
</polymer-element>
