<polymer-element name="juke-page" extends="mako-page">
  <template>
    <link href="/css/main.css" rel="stylesheet" >
    <div id="pageContent" style="opacity: 0">
      <core-header-panel mode="seamed" fit>
        <core-toolbar id="core-toolbar" layout vertical center>
          <h1>MakoWare</h1>
        </core-toolbar>
        <div class="container" vertical layout>
            <paper-shadow z="2" style="margin: 8px; padding: 8px;">
              <div>
                <h1>Juke</h1>
                <p>Is a web application that allows users to create collaborative playlists.</p>
                <p>Start your own playlist "Hub" or join someone's to start building an interactive playlist.</p>
                <p>Tell friends to join your hub to add songs from youtube to your playlist</p>
                <p>Vote songs up or down to change the order they will be played.</p>
                <p>Let Juke be the all request Dj at your next party.</p>
                <p>Currently Juke is for Web and native iOS</p>
              </div>
            </paper-shadow>

            <div horizontal layout>
              <paper-shadow z="3" style="margin: 8px; padding: 8px">
              <core-image width="400" height="200" sizing="contain" src="/images/jukeScreen1.png"></core-image>

              </paper-shadow>
            </div>
              <button on-click="{{backToCube}}">Back to cube</button>

        </div>
      </core-header-panel>
    </div>
  </template>
  <script src="juke-page.js"></script>
</polymer-element>
